*~*
*.log
*.log.*
*.orig
*.class
*closure
classpath
.settings
*stacktrace
.classpath
.project
*/.link_to_grails_plugins
*/.DS_Store
.DS_Store
*/web-app/WEB-INF/classes
*/dtd/
*/target
*/target/stacktrace.log
*/target/
*/target/classes
